/* override bootstrap classes from bootstrap/_carousel.scss */

.carousel-indicators {
  position: inherit;
  bottom: 17px !important;

  li {
    width: auto;

    .active {
      a {
        background-color: $primary;
        @extend %hover-extend;
      }
    }
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $primary;
}
