@media (min-width: 576px) and (max-width: 991px) {
  .menu-bar {
    height: 100px;

    .container > .row {
      height: 100% !important;
    }

    .menu {
      ul {
        li {
          a {
            padding: 10px !important;
          }
        }
      }
    }

    .getcategory-column-1 {
      padding-left: 0;
    }

    .search-field {
      border-left: 1px solid !important;
      background-color: #fff;
    }
  }
}
