<div class="section-promo">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="promo-box">
          <div class="content">
            <div class="promo-photo-left">
              <div class="hot-deals">
                <p>hot deals</p>
                <ul>
                  <li><a id="promoDotBtn" class="active"></a></li>
                  <li><a id="promoDotBtn"></a></li>
                  <li><a id="promoDotBtn"></a></li>
                </ul>
              </div>
              <div class="promo-add-to-cart">
                <div class="container">
                  <a href="#" class="btn-add-to-cart">
                    <i class="fa fa-shopping-basket"></i> ADD TO CART
                  </a>
                  <div class="row circle">
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">25 DAYS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">10 HRS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">45 MINS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">30 SECS</div>
                    </div>
                  </div>
                </div>
                <div class="left-slider-container">
                  <div class="left-slider-images">
                    <img
                      class="promo-img-left"
                      id="lastImg"
                      src="/images/promo/promo_107.jpg"
                      alt="promo-107"
                    />
                    <img
                      class="promo-img-left"
                      src="/images/promo/promo_105.jpg"
                      alt="promo-105"
                    />
                    <img
                      class="promo-img-left"
                      src="/images/promo/promo_106.jpg"
                      alt="promo-106"
                    />
                    <img
                      class="promo-img-left"
                      src="/images/promo/promo_107.jpg"
                      alt="promo-107"
                    />
                    <img
                      class="promo-img-left"
                      id="firstImg"
                      src="/images/promo/promo_105.jpg"
                      alt="promo-105"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="promo-content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="promo-line"></div>
            <div class="actions-icons">
              <div class="outlines">
                <button class="btn-outline"><i class="far fa-eye"></i></button>
                <button class="btn-outline"><i class="far fa-heart"></i></button>
                <button class="btn-outline"><i class="fas fa-exchange-alt"></i></button>
              </div>
              <div class="old-price">$ 27.00</div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-6">
        <div class="promo-box-right">
          <div class="content">
            <div class="promo-photo-right">
              <div class="slider-container">
                <div class="slider-images">
                  <img
                    class="promo-img-right"
                    id="lastImg"
                    src="/images/promo/promo_004.jpg"
                    alt="promo-004"
                  />
                  <img
                    class="promo-img-right"
                    src="/images/promo/promo_001.jpg"
                    alt="promo-001"
                  />
                  <img
                    class="promo-img-right"
                    src="/images/promo/promo_002.jpg"
                    alt="promo-002"
                  />
                  <img
                    class="promo-img-right"
                    src="/images/promo/promo_003.jpg"
                    alt="promo-003"
                  />
                  <img
                    class="promo-img-right"
                    src="/images/promo/promo_004.jpg"
                    alt="promo-004"
                  />
                  <img
                    class="promo-img-right"
                    id="firstImg"
                    src="/images/promo/promo_001.jpg"
                    alt="promo-001"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="slide s-left" id="rightSliderPrev">
                  <span class="slide-arrow"><</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="slide s-right" id="rightSliderNext">
                  <span class="slide-arrow">></span>
                </div>
              </div>
              <div class="shop-now-box">
                <div class="shop-now">
                  <h2 class="shop-indor">INDOOR <strong>FURNITURE</strong></h2>
                  <h3 class="shop-save">SAVE UP TO 50% OF ALL FURNITURE</h3>
                  <button class="shop-now-btn">SHOP NOW</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
