<div class="section-promo">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="promo-box">
          <div class="content">
            <div class="promo-photo-left">
              <div class="hot-deals">
                <p>hot deals</p>
                <ul>
                  <li><a href="#" class="active"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              <div class="promo-add-to-cart">
                <a href="#" class="btn-main-small">
                  <i class="fa fa-shopping-basket"></i>ADD TO CART
                </a>
                <div class="container">
                  <div class="row circle">
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">25 DAYS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">10 HRS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">45 MINS</div>
                    </div>
                    <div class="col-3">
                      <div class="promo-add-to-cart-circle">30 SECS</div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="promo-img-left" src="/images/bed/bed_002.jpg" alt="bed-002" />
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <button class="btn-outline"><i class="far fa-eye"></i></button>
                <button class="btn-outline"><i class="far fa-heart"></i></button>
                <button class="btn-outline"><i class="fas fa-exchange-alt"></i></button>
              </div>
              <div class="old-price">$ 27.00</div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-6">
        <div class="promo-box">
          <div class="content">
            <div class="promo-photo-right">
              <div class="col-lg-6"><div class="slide s-left"><</div></div>
              <div class="col-lg-6"><div class="slide s-right">></div></div>
              <div class="shop-now-box">
                <div class="shop-now">
                  <h2 class="shop-indor">INDOR <strong>FURNITURE</strong></h2>
                  <h3 class="shop-save">SAVE UP TO 50% OF ALL FURNITURE</h3>
                  <button class="shop-now-btn">SHOP NOW</button>
                </div>
              </div>
              <img
                class="promo-img-right"
                src="/images/bed/bed_002.jpg"
                alt="bed-002"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
