<div class="section-deals">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="deals-box-left">
          <img class="deals-photo left" src="/images/bed/bed_008.jpg" alt="bed-008" />
          <div class="deals-discount">
            <h3 class="deals-discount-line1">GUEST ROOM</h3>
            <h3 class="deals-discount-line2">SOFA</h3>
            <h3 class="deals-discount-line3">-20%</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="deals-box-right">
              <img
                class="deals-photo right-up"
                src="/images/bed/bed_004.jpg"
                alt="bed-004"
              />
              <div class="deals-discount2">
                <h3 class="deals-discount2-line1"><strong>OFFICE</strong> BED</h3>
                <h3 class="deals-discount2-line2">COLLECTION</h3>
                <h3 class="deals-discount2-line3">$200.00</h3>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-12">
            <div class="deals-box-right">
              <img
                class="deals-photo right-down"
                src="/images/bed/bed_005.jpg"
                alt="bed-005"
              />
              <div class="deals-discount3">
                <h3 class="deals-discount3-line1">
                  <strong>SPECIAL</strong> COLLECTION
                </h3>
                <h3 class="deals-discount3-line2">SAVE UP 45% OF FURNITURE</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
