<div class="section-brands">
  <div class="container">
    <div class="brands-line"></div>
    <div class="brands-box">
      <div class="arrow"><</div>
      <div class="brands-area">
        <div class="brand one">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
        <div class="brand two">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
        <div class="brand three">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
        <div class="brand four">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
        <div class="brand five">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
        <div class="brand six">
          <img src="http://placehold.jp/140x90.png" alt="img 140x90" />
        </div>
      </div>
      <div class="arrow">></div>
    </div>
    <div class="brands-line"></div>
  </div>
</div>
