<div class="section-feedback">
  <div class="container">
    <div class="f-bar">
      <div class="row no-gutters fline">
        <div class="col-auto heading"><h3>client feedback</h3></div>
      </div>
    </div>
    <div class="tab-content">
      <div class="col-auto dots">
        <ul>
          <li><a href="#" class="active"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>

    <div class="feedback-text">
      <div class="quote"><i class="fas fa-quote-right"></i></div>
      <h6 class="text1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit
        ullam, similique id in adipisci nam vitae. Voluptatum, consectetur recusandae
        quasi quam, in numquam voluptas dolorum voluptatem aspernatur!
      </h6>
      <div class="feedback-client"><img src="" alt="" /></div>
    </div>
  </div>
</div>
