footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      h6 {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169, 169, 169);

            &:hover {
              color: #ffffff;
              @extend %hover-extend;
            }
          }
        }
      }
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottom-bar {
    background-color: $footer-claim-bg;

    .container > .row {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: rgb(169, 169, 169);
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialmedia {
      text-align: right;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: rgb(169, 169, 169);
            text-decoration: none;

            &:hover {
              color: $primary;
              @extend %hover-extend;
            }
          }
        }
      }
    }
  }
}

/*MEDIA QUERIES*/
@media (max-width: 992px) {
  footer {
    .footer-menu {
      .container {
        .row {
          .menu-wrapper {
            h6 {
              margin-bottom: 0;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .bottom-bar {
      .container {
        max-width: 880px;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .bottom-bar {
      .copyright{
        text-align: center;
      }

      .socialmedia {
        text-align: center;
      }
    }
  }
}