.panel-bar {
  margin-bottom: 30px;

  .new-furniture-wrapper {
    width: calc(100% - 50px);

    ul {
      display: block;
    }
  }

  .row > * {
    border-bottom: 4px solid #e2e2e2;
  }

  .heading {
    position: relative;

    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $primary;
    }
  }

  .menu {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: 0 0.5rem;
        font-weight: 600;

        a {
          color: rgb(42, 42, 42);
          position: relative;
          text-decoration: none;
          font-size: 18px;
          display: block;

          &.active,
          &:hover {
            &::before {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              border-bottom: 4px solid $primary;
              @extend %hover-extend;
            }
          }
        }
      }
    }
  }

  .dots {
    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;
      background-color: #ffffff;
      transform: translateY(15px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: #e1e1e1;

          &.active,
          &:hover {
            background-color: $primary;
            @extend %hover-extend;
          }
        }
      }
    }
  }
}


/*STYLES FOR DOTS IN NEW FURNITURE SECTION */
.tab-content {
  position: relative;

  .tab-pane {
    .tns-ovh {
      .col-12 {
        padding-right: 0;
        padding-left: 5;
      }
    }
  }

    .tns-nav {
      position: absolute;
      right: 0;
      top: -40px;
      display: flex;

        button {
          display: block;
          width: 13px;
          height: 13px;
          margin: 0 5px;
          border-radius: 6px;
          background-color: #e1e1e1;
          border: none;
          outline: none;
          cursor: pointer;

          &.tns-nav-active,
          &:hover {
            background-color: $primary;
            @extend %hover-extend;
          }
        }
      
    }
}
    
@media (max-width: 767px) {
  .section--products {
    .container {
      .panel-bar {
        .no-gutters {
          > .menu {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .tab-content {
    .tns-nav {
      top: -21px;
      left: 0;
    }
  }
}

@media (max-width: 400px) {
  #type-of-furniture {
    font-size: 15px;
  }
}

