.section-promo {
  padding: 0;
}

.promo-box {
  border: 1px solid #e1e1e1;
  text-align: center;
  margin-top: 40px;
  height: 450px;
  max-height: 450px;

  .content {
    color: rgb(42, 42, 42);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .promo-photo-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;

    .promo-add-to-cart {
      position: relative;

      .container {
        position: absolute;
        top: 50%;
        transform: translate(0, -25%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        align-items: center;
        z-index: 1;

        .btn-add-to-cart {
          background-color: #2a2a2a;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          padding: 10px 15px;
          width: 50%;

          &:hover {
            background-color: $primary;
            color: $text-color-white;
          }
        }
        .circle {
          position: relative;

          .col-3 {
            padding: 0 5px;

            .promo-add-to-cart-circle {
              background: rgba($text-color-black, 0.7);
              width: 70px;
              height: 70px;
              border-radius: 50%;
              color: $text-color-white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      .left-slider-container {
        z-index: 0;
        overflow: hidden;

        .left-slider-images {
          display: flex;
          width: 100%;

          .promo-img-left {
            width: 100%;
            height: 260px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .hot-deals {
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: $form-border-color;
    color: $text-color-white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 20px;
    line-height: 40px;

    ul {
      list-style: none;
      transform: translateY(-43px);
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;

      li {
        display: inline-block;
        margin-left: 0.5rem;
        cursor: pointer;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: #e1e1e1;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    visibility: hidden;
    justify-content: space-between;
  }
}

.promo-content {
  h5 {
    color: $primary;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 10px;
  }

  .stars {
    a {
      text-decoration: none;
      color: rgb(42, 42, 42);

      @extend .far;

      @extend .fa-star;

      &.full {
        @extend .fas;
      }
    }
  }
}

.promo-line {
  margin: 10px;
  border-bottom: 1px solid $footer-claim-bg;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 30px;
    border-bottom: 4px solid $primary;
    transform: translateX(-50%);
  }
}

.actions-icons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-outline {
    &:hover {
      background-color: $primary;
      color: $text-color-white;
    }
  }

  .old-price {
    color: $text-color-grey;
    text-decoration: line-through;
  }
}

.promo-box-right {
  text-align: center;
  margin-top: 41px;
  height: 450px;
  max-height: 450px;
  position: relative;
  top: -1px;
  z-index: 1;

  .content {
    color: rgb(42, 42, 42);
    padding-bottom: 10px;
  }

  .promo-photo-right {
    .slider-container {
      position: absolute;
      overflow: hidden;

      .slider-images {
        display: flex;
        width: 730px;

        .promo-img-right {
          width: 100%;
          height: auto;
          height: 420px;
          object-fit: cover;
        }
      }
    }

    .slide {
      width: 100%;
      height: 40px;
      background: $text-color-black;
      color: $text-color-white;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      .slide-arrow {
        font-size: 3rem;
        color: $text-color-white;
        position: absolute;
        top: -14px;
      }

      &:hover {
        background-color: $primary;
      }
    }

    .s-left {
      position: absolute;
      top: 410px;
      left: 0;
    }

    .s-right {
      position: absolute;
      top: 409px;
      right: -100%;
    }

    .shop-now-box {
      position: relative;

      .shop-now {
        width: 100%;
        position: absolute;
        top: 150px;
        left: 0;
        background: rgba($text-color-black, 0.5);
        color: $text-color-white;
        text-align: center;
      }

      .shop-indor {
        font-size: 3rem;
        font-weight: 400;
        position: relative;
        top: 20px;
      }

      .shop-save {
        font-size: 1.2rem;
        font-weight: 300;
        position: relative;
        top: 20px;
      }

      .shop-now-btn {
        width: 150px;
        height: 50px;
        background: $text-color-white;
        border: none;
        border-radius: 5px;
        position: relative;
        top: 25px;
        cursor: pointer;

        &:hover {
          background-color: $primary;
          color: $text-color-white;
        }
      }
    }
  }
}
